<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Identicon Generator</title>

    <!-- icons -->
    <link rel="icon" type="image/png" sizes="96x96"
        href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">

    <!-- js -->
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <div class="header bg-primary">
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}">
        <h1 class="title">Identicon Generator</h1>
    </div>
    <div class="page-body">
        <img class="identicon-image" src="{{ url_for('static', filename='placeholder.png') }}" alt="Identicon">
        <div class="form-group">
            <label for="string-select">Identicon String</label>
            <input required class="form-input" type="text" name="Identicon String" id="string-select">
            <label for="size-select">Image Size</label>
            <select class="form-select" id="size-select">
                <option value="256">256x256</option>
                <option value="512">512x512</option>
                <option value="1024" selected>1024x1024</option>
                <option value="2048">2048x2048</option>
            </select>
            <label for="hash-select">Hashing Algorithm</label>
            <select class="form-select" id="hash-select">
                <option value="MD5">MD5</option>
                <option value="SHA-256">SHA-256</option>
                <option value="SHA-512" selected>SHA-512</option>
            </select>
            <label for="blur-select">Blur Strength</label>
            <select class="form-select" id="blur-select">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button id="generate-button"
                class="btn btn-primary input-group-btn p-centered submit-button">Generate</button>
        </div>
        <a download href="" id="download-button">Download</a>
    </div>
    <div class="footer">
        <p>© Will Fenton, Giancarlo Pernudi Segura</p>
        <a href="https://github.com/willfenton/Identicon">GitHub</a>
    </div>
</body>

</html>